body {
  width: 100%;
  height: 100%;
  background-color: lightblue;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
